body {
    color: white;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    color: white;
    background-color: #e3533d;
    width: 250px;
    height: 30px;
    border: white;
}